.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-color: #335566;
    padding: 20px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #343a40;
    padding: 10px;
}

.navbar a {
    color: lightbrown;
    text-decoration: none;
    padding: 14px 20px;
}

.navbar a:hover {
    background-color: #ef9556;
}

.footer {
    background-color: #ef9556;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
